body {
    width: 70%;
    margin: 1em auto;
    background-color: #F4F5F0;
    color: #111;
}

table {
    width: 100%;
    margin-top: 1em;
    border-spacing: 0 3px;
}

td, th {
    text-align: right;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1vw;
    padding-right: 1vw;
    color: rgb(22, 40, 51);
}

a.nav {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

a.nav:hover {
    border-bottom: 1px solid #444;
}

td a.branch, a.path {
    color: #111;
    text-decoration: none;
}

.barelem a.branch {
    color: #aaa;
    text-decoration: none;
}

a.path:hover {
    margin-left: -4px;
    margin-right: -4px;
    border-left: 4px solid #E1E2DD;
    border-right: 4px solid #E1E2DD;
    background-color: #E1E2DD;
}

pre a {
    color: #111;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    background-color: #F6F6CD;
    padding-right: -10px;
}

pre span.blank {
    border-bottom: 1px solid #aaa;
    background-color: #F6F6CD;
    padding-right: -10px;
}

th {
    background-color: #252525;
    color: #eee;
    text-transform: uppercase;
    font-family: Sans-Serif;
    letter-spacing: 1px;
}

tr {
    background-color: #F9FAF5;
}

tr:hover td {
    background-color: #E1E2DD;
}

td:nth-child(1), th:nth-child(1) {
    text-align: left;
}

pre {
    line-height: 125%;
}

pre > span.lineno {
    font-weight: bold;
    padding-right: 5px;
}

a > span.lineno {
    font-weight: bold;
}

span.hitcount {
    padding-left: 3px;
    padding-right: 3px;
}

span.missed {
    background-color: #f05050;
    font-weight: bold;
    color: #F4F5F0;
}

span.covered {
    background-color: #50b050;
    font-weight: bold;
    color: #F4F5F0;
}

span.silentmissed, span.silentcovered {
    color: #555;
    font-weight: bold;
}

span.linesbad, span.covbad {
    font-weight: bold;
    color: #d33;
}

span.linesok {
    font-weight: bold;
    color: grey;
}

span.covok {
    font-weight: bold;
    color: #c75;
}

span.covnormal {
    font-weight: bold;
    color: #fe9030;
}

span.linesgood, span.covgood {
    font-weight: bold;
    color: #090;
}

span.lineschanged {
    color: #c75;
}

span.revision {
    font-family: monospace;
}

span.retained {
    border: 1px solid transparent;
}

span.added {
    border: 1px solid #50d050;
    background-color: #50d050;
}

span.removed {
    border: 1px solid #f06060;
    background-color: #f06060;
}

span.retained, span.added, span.removed {
    color: #fff;
    margin-right: 2px;
}

span.note {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
    display: block;
    font-weight: bold;
    padding-top: 1px;
    margin-top: 10px;
    margin-bottom: -6px;
    text-align: center;
}

.title {
    text-align: center;
    padding-bottom: 2px;
}

.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.rightbar {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    padding-top: 10px;
}

.sidenav a {
    padding: 8px 8px 16px 1.5vw;
    text-decoration: none;
    font-size: 22px;
    color: #aaa;
    display: block;
    outline: none;
}

.sidenav a.action {
    padding: 8px 8px 8px 1.5vw;
    font-size: 18px;
}

.rightbar .bargroup {
    padding-top: 50px;
}

.rightbar .barfooter {
    font-size: small;
    bottom: 20px;
    position: fixed;
}

.bargroup .barelem, .barfooter a {
    padding: 4px 0px 4px 1.5vw;
    margin-right: 1vw;
    text-decoration: none;
    color: #aaa;
    display: block;
}

.bargroup .barelem {
    font-size: 17px;
}

.barfooter a {
    font-size: 15px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Tooltips */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip object, used to underline even wrapped text */
.tooltip .tooltipobj {
    border-bottom: 1px dotted grey;
}

/* Tooltip text */
.tooltip .tooltiptext {
    display: none;
    color: #ccc;
    background-color: #000;
    text-align: left;
    padding: 5px 7px;
    border-radius: 6px;
    border: 1px solid #eee;
    font-weight: bold;
    font-size: medium;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;

    top: 100%;
    right: -5px;

    pointer-events: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    display: inline;
}
